.exist-order,
.new-order {
  display: flex;
  flex-direction: column;
  flex: 1;
  border: dashed 1px #ccc;
  padding: 10px;
  overflow-y: auto;
  max-height: calc(100vh - 100px);
  align-items: flex-start;
  border-radius: 8px;
  gap: 10px;
}

.mobile .exist-order,
.mobile .new-order {
  max-height: calc(100vh - 180px);
}