@font-face {
  font-family: 'en';
  src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face {
  font-family: 'kh';
  src: url(../fonts/Content-Regular.ttf);
}

@font-face {
  font-family: 'kh-m';
  src: url(../fonts/Moul-Regular.ttf);
}

body {
  font-family: en, kh, 'kh-m', Arial, Helvetica, sans-serif;
}